.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;
  transition-duration: 1000ms;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.8) -10%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  z-index: 50;

  .content {
    transition-duration: 1000ms;
    cursor: default;
  }
}
