<div id="back">
    <svg viewBox="0 0 100 100" id="logo">
        <path id="p1" d=" M 48.75 99.5 L 48.75 71 C 47.667 60.167 50.093 57.343 56 62.5 L 97.667 104.333" fill="none"
            vector-effect="non-scaling-stroke" stroke-width="18" stroke="rgb(232,174,0)" stroke-linejoin="miter"
            stroke-linecap="square" stroke-miterlimit="3" />
        <path id="p2" d=" M -3.5 12.25 L 68.5 12.25 C 93.5 12.5 93.5 40 68.5 40 L 39 40 C 20.5 40.25 22 52.5 31.75 63 L 72.5 103.75"
            fill="none" vector-effect="non-scaling-stroke" stroke-width="18" stroke="rgb(0,0,0)" stroke-linejoin="miter"
            stroke-linecap="square" stroke-miterlimit="3" />
        <path id="p3" d=" M 48 -10.5 L 48.75 31.75 C 48.75 40.917 51.76 43.093 57.75 38.25 L 104.25 0.75" fill="none"
            vector-effect="non-scaling-stroke" stroke-width="18" stroke="rgb(232,174,0)" stroke-linejoin="miter"
            stroke-linecap="square" stroke-miterlimit="3" />
    </svg>
    <div id="starcontainer"></div>
</div>