<div id="navbtn" onclick="navigation()" class="targetable">
    <span>Menu</span>
</div>

<nav id="nav">
    <ul>
        <li onclick="goto(0)" class="targetable">Home</li>
        <li onclick="goto(1)" class="targetable">I am Groot</li>
        <li onclick="goto(2)" class="targetable">Xp</li>
        <li onclick="goto(3)" class="targetable">Project</li>
        <li onclick="goto(4)" class="targetable">Skills</li>
        <li onclick="goto(5)" class="targetable">Let's talk</li>
    </ul>
</nav>