<!DOCTYPE html>
<html lang="fr">
<head>
    <title>RIOU Kévin - CV</title>

    <%- include('views/meta.ejs') %>

    <%- include('views/dependencies.ejs') %>

    <%- include('views/favicon.ejs') %>

    <!--custom-css-->
    <link href="./css/common.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./css/cvback.css" />
</head>

<body class="page-0 nav-close">
    <main id="main">
        <img src="./images/qr.svg"/>
        <h1 id="name">RIOU Kevin</h1>
        <a id="url">kevin.riou.pro</a>
        <p id="slogan">Have a nice day and Be Happy</p>
    </main>
</body>

</html>