@import "../../../../../styles/styles";

.container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: $radius;
  overflow: hidden;

  & > span {
    width: 100% !important;
    height: 100% !important;

    & img {
      transition-duration: 500ms;
      filter: blur(0px);
    }
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay {
    backdrop-filter: blur(0px);
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    transition-duration: 300ms;
    color: white;
    top: 0;
    left: 0;

    $overlayPadding: 20px;
    $buttonSize: 50px;

    .name {
      font-size: 1.4em;
      position: absolute;
      left: $overlayPadding;
      top: $overlayPadding;
    }

    .description {
      $spacing: $overlayPadding * 3 + $buttonSize;

      position: absolute;
      bottom: $overlayPadding;
      right: $overlayPadding * 2 + $buttonSize;
      width: calc(80% - #{$spacing});
      font-size: 1em;
      line-height: 1.6em;
      opacity: 0;
      transition-duration: inherit;
      text-align: right;
      color: $moon;
    }

    .link {
      position: absolute;
      right: $overlayPadding;
      bottom: $overlayPadding;
      width: $buttonSize;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $infinite;
      background-color: #{$sealk}33;
      cursor: pointer;
      transition-duration: 200ms;
      border: 1px solid;
      border-color: #{$moon}00;

      & svg {
        transition-duration: 200ms;
      }

      &:hover {
        border-color: #{$moon}33 !important;
      }
    }

    &:hover {
      background-color: #{$pinky};
      backdrop-filter: blur(10px);

      .name {
        color: $moon;
      }

      .link {
        background-color: #{$sealk}00;
        border-color: #{$moon}FF;

        & svg path {
          fill: $moon;
        }
      }

      .description {
        opacity: 1;
      }
    }
  }
}
