@import "../../../../../styles/styles";

.container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: $radius;
  overflow: hidden;

  & > span {
    width: 100% !important;
    height: 100% !important;

    & img {
      transition-duration: 500ms;
      filter: blur(0px);
    }
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay {
    backdrop-filter: blur(0px);
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    transition-duration: 300ms;
    color: white;
    top: 0;
    left: 0;

    $overlayPadding: 20px;

    .name {
      text-shadow: 0 0 30px black;
      font-size: 1.4em;
      position: absolute;
      left: $overlayPadding;
      top: $overlayPadding;
    }

    .description {
      position: absolute;
      bottom: $overlayPadding;
      right: $overlayPadding;
      width: 80%;
      font-size: 1em;
      line-height: 1.6em;
      opacity: 0;
      transition-duration: inherit;
      text-align: right;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);

      .description {
        opacity: 1;
      }
    }
  }
}
