@import "../../../styles/styles";

.container {
  height: calc(70vh - 100px);
  width: 400px;
  border-radius: $radius;
  background-color: $sealk;
  color: $moon;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  position: relative;
  margin-bottom: 100px;

  .profile {
    width: 300px;
    height: 300px;
    margin-top: 40px;
    border-radius: $infinite;
    background-color: black;
  }

  .name {
    font-size: 3em;
    margin-top: 15px;
    margin-bottom: 0;
    font-family: "Brush", Roboto;
  }

  .description {
    text-align: justify;
    padding: 20px;
  }

  .socials {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -100px;

    & svg {
      margin: 20px;
      cursor: pointer;
      border: 1px solid;
      border-color: $sealk;
      padding: 15px;
      margin: 10px 0;
      border-radius: $infinite;

      & path {
        fill: $sealk;
      }

      &:hover {
        border-color: $pinky;
        & path {
          fill: $pinky;
        }
      }
    }
  }
}
