@import "../../../styles/styles";

.outerContent {
  border-width: 2px;
  border-color: transparent;
  background-color: #2c2e33 !important;
  margin-bottom: 10px !important;

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #25262b !important;
    color: #909296 !important;

    &:hover {
      border-color: transparent;
    }

    .innerContent {
      background-color: #25262b !important;
      color: #909296 !important;

      .indicator {
        color: #909296 !important;
      }
    }
  }

  &:hover {
    border-color: #5c5f66;
  }

  .innerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #2c2e33;
    border-radius: $radius;

    .indicator {
      color: #5c5f66;
      margin: 10px 0 0 0;
    }
  }
}

.fileList {
  margin: -5px !important;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;

  &.disabled {
    & > div {
      background-color: #25262b !important;
      color: #909296 !important;
      opacity: 0.6;
      cursor: not-allowed;

      & > span {
        margin-right: 0;
      }
    }
  }

  & > div {
    border-radius: $radius;
    padding: 15px;
    margin: 5px;
    background-color: #2c2e33;

    & > span {
      margin-right: 20px;
    }
    & > svg {
      cursor: pointer;
      transition-duration: 200ms;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
