@import "../styles/styles";

.container {
  position: relative;
  background-color: $pinky;
  background-image: url(#{$background_base64});
  background-repeat: repeat;
  color: $sealk;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  text-align: justify;

  $font_size: 50;

  .title {
    font-size: 50px;

    & span:nth-child(2n) {
      font-family: "Brush";
    }
  }

  .paragraph {
    font-size: #{$font_size}px;
    text-align: justify;
    line-height: #{$font_size + 20}px;
  }

  & > * > * > * > span {
    font-size: #{$font_size}px;
    line-height: #{$font_size + 20}px;
  }

  .input {
    text-transform: none;
    color: $pinky;
    min-width: 100px;
    border-bottom: 2px solid #{$pinky};
    box-sizing: border-box;
    margin: 0 10px;

    &.lock {
      color: #{$pinky}BB;
      border-bottom: 2px solid #{$pinky}BB;
    }

    &.block {
      display: inline-block;
      width: 100px;
      height: #{$font_size + 16}px;
    }

    &:focus {
      outline: none;
    }
  }

  .backButton {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #{$sealk}33;
    cursor: pointer;
    transition-duration: 200ms;
    border: 1px solid;
    border-color: #{$moon}00;
    border-radius: $infinite;

    & svg {
      transition-duration: 200ms;
    }

    &:hover {
      background-color: #{$pinky} !important;

      & svg path {
        fill: $moon;
      }
    }
  }

  .rte {
    border-width: 0;
    background-color: transparent;

    &.rteDisabled {
      & > div:last-child {
        background-color: #25262b;
        opacity: 0.6;
        cursor: not-allowed;

        & * {
          color: #909296 !important;
        }
      }
    }

    & > div:first-child {
      background-color: transparent;
      border-width: 0;
      padding: 0 0 20px 0;
    }

    & > div:last-child {
      background-color: #2c2e33;
      border-radius: $radius;

      // Custom style
      & a[target="_blank"] {
        color: $pinky;
        text-decoration: underline;
      }
    }

    .ql-active svg > path {
      fill: $pinky !important;
    }

    .submitButton {
      height: 50px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #{$pinky};
      color: $moon;
      cursor: pointer;
      transition-duration: 200ms;
      border: 1px solid;
      border-color: #{$moon}00;
      border-radius: $infinite;
      margin-left: auto;

      &:hover {
        background-color: #{$sealk}33 !important;
        color: $sealk;
      }
    }
  }
}
