@import "../styles/styles";

.container {
  position: relative;
  background-color: black;
  color: $sealk;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
