@import "../../../styles/styles";

$mee_size: 500;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: #{$mee_size}px;
  min-height: #{$mee_size}px;
  z-index: 1;
  margin-top: 100px;
  border-radius: 500px;
  pointer-events: none;

  .name {
    font-size: #{$mee_size / 2 - $mee_size / 20}px;
    color: #{$sealk}77;
    font-weight: bolder;
    position: absolute;
    top: #{$mee_size / 6}px;
  }

  &.isLoading {
    & > span > span::before {
      right: 0;
    }

    & > span > span::after {
      opacity: 0;
    }
  }

  & > span {
    margin: -#{$mee_size / 2}px 0 !important;

    & > span::before {
      z-index: 3;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 100%;
      content: "";
      background-color: $pinky;
      transition-duration: 1000ms;
    }

    & > span::after {
      z-index: 1;
      display: block;
      position: absolute;
      bottom: 0;
      left: 30%;
      top: 50%;
      right: 25%;
      content: "";
      opacity: 1;
      transition-delay: 400ms;
      transition-duration: 500ms;
      box-shadow: inset 0px -#{$mee_size / 2}px 100px -#{$mee_size / 4}px $moon;
    }
  }

  .surname {
    z-index: 2;
    font-family: Brush;
    font-size: #{$mee_size / 3}px;
    color: $pinky;
    font-weight: 100;
    position: absolute;
    top: #{$mee_size / 3 + $mee_size / 10}px;
  }
}
