@import "../../../styles/styles";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;

  .name {
    font-size: 100px;
    text-shadow: 0 0 7px #{$moon}80;
    font-weight: bolder;
  }
}
